.red-border {
  border: 0.1rem solid red;
}
#navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.imageContainer {
  margin-top: 3rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.btn {
  margin-bottom: 1rem;
}
